@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bingham Railroad!</h1>
</div>
<div class="row">
    <p class="col-1">From </p> <input class="col-md-4" type="search" />
    <p class="col-2">Departure </p>  <input class="col-md-4" type="date" />
</div>
<div class="row">
    <p class="col-1">To </p> <input class="col-md-4" type="search" />
    <p class="col-2">Arrival </p>  <input class="col-md-4" type="date" />
</div>